# dependencies
node_modules/
apps/*/node_modules/

# bun
bun.lockb

# build output
apps/*/dist/
target/

# local env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/
*.swp
*.swo
*~

dist/releases